:root {
    font-family: "Noto Sans Mono", monospace;
    --accentRed: rgb(219, 70, 70);
    --accentBlue: rgb(70, 157, 219);
    --accentGreen: rgb(65, 200, 104);
    --accentGrey: rgb(150, 150, 150);
    --accentOrange: rgb(232, 139, 0);
    --inkColor: rgb(20, 20, 20);
    --backgroundColor: rgb(250, 250, 250);
}


body {
    background-color: var(--backgroundColor);
	color: var(--inkColor);
	font-size: 0.95em;
	padding: 2em; 
	min-width: 0;
	max-width: 60em;
	margin: auto;
}

h1 {
    margin: 0.5em;
    font-size: 2em;
    text-transform: uppercase;
}

h2 {
    margin: 2em 1em 1em;
    font-size: 1.3em;
    font-weight: 2000;
    text-transform: uppercase;
}

p {
    margin: 0;
}

ul + p {
    margin-top: 5em;
}

#furniture {
    color: var(--accentRed);
}

#kitchen {
    color: var(--accentOrange);
}

#electric {
    color: var(--accentGreen);
}

#house-stuff {
    color: var(--accentBlue);
}

#other {
    color: var(--accentGrey);
}

ul, li {
    list-style: none;
    margin: 1em;
    padding: 0;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    background-color: red;
    margin: 0;

    width: 0;
    height: 0;
    border-radius: 0;
    box-shadow: 0 0 0 0.65em greenyellow;
}

input[type="checkbox"]:checked {
    box-shadow: 0 0 0 0.65em hotpink;
}

input:checked + strong {
    text-decoration:line-through
}

img {
    width: calc(100% + (2em * 2));
    height: 100%;
    margin-left: -2em;
    margin-top: -2em;
}

@media all and (min-width: 800px) { 
    body {
        padding: 5em !important;
    }
    
    img {
        width: 100% !important;
        margin: 0;
    }
    
}